/* Footer */
    
    footer {
        margin-top: 2em;
    }


    /* Scocial Media Links */

        #ContactFooterLink {
            color: black;
            display: block;
        }

        #facebookLink {
            background-image: url('./Images/FacebookLogo.png');
        }

        #instagramLink {
            background-image: url('./Images/instagramLogo.jpg');

        }
        .socialMedia {
            background-size: cover;
            width: 50px;
            height: 50px;
            display: inline-block;
            margin-inline: 1em;
            margin-top: 2em;
        }

        .socialMedia:hover,#ContactFooterLink:hover {
            transform: scale(1.3);
        }

        #ContactFooterLink {
            font-size: 1.1em;
            margin-top: 1.5em;
        }


/* Resrvation Button */

    #resButton {
        width: 100%;
        height: 10vh;
    
        position: fixed;
        bottom: 0;
        left: 0;
    
        color: black;
        background-color: rgb(166, 179, 49);
    
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.8em;
    }
    
    #resButton:hover {
        background-color: rgb(193, 211, 32);
    }
    
    .resLink {
        padding: 15px 130px;
    }
  