#footer {

}

#facebookLink {
    background-image: url('./Images/FacebookLogo.png');
}

#instagramLink {
    background-image: url('./Images/instagramLogo.jpg');

}
.socialMedia {
    background-size: cover;
    width: 50px;
    height: 50px;
    display: block;
}