footer {
    margin-top: 2em;
}

#ContactFooterLink {
    color: black;
    display: block;
}

#facebookLink {
    background-image: url('./Images/FacebookLogo.png');
}

#instagramLink {
    background-image: url('./Images/instagramLogo.jpg');

}
.socialMedia {
    background-size: cover;
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-inline: 1em;
}

.socialMedia:hover,#ContactFooterLink:hover {
    transform: scale(1.3);
}

#ContactFooterLink {
    font-size: 1.1em;
    margin-top: 1.5em;
}
