
#fixedHeader {
  position: sticky;
  top: 0;
  z-index: 100;

}


#mainHeader {
  background-color: black;
  box-shadow: 0 0 1em 1em black;

  position: relative;
  z-index: 10;

  justify-content: space-between;
  padding-inline: 1em;
}

  /* Delfos Logo */

    #logo {
      width: 35%;
      padding: 3%;
    }

  /* Navigation Bar */

    nav {
      width: 55%;
      height: 100%;

      display: flex;
      justify-content: space-evenly;
    }

    /* Lenguage Selector */

      select {
        background-color: black;
        color: white;
        border: none;
      }


    /* Phone Button */

      #buttonPhonelink {
        all: initial;
        background-image: url('./Images/phone.png');
        background-size: 50%;
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: 50%;

        width: 40px;
        height: 40px;
      }


      /* Drop down */

      .contactDropDown {
        color: white;
        position: absolute;
        font-size: 1.3em;
        background-color: black;
        padding: 1em;
        width: calc(100% - 1.9em);
        top: 70px;
        left: 0px;
        box-shadow: 0 0 1em 1em black;
        transition: height 400ms linear ;
        margin-top: 1em;
      }
  
  
      .contactDropDownHide {
        display: none;
        position: absolute;
        color: transparent;
        pointer-events: none;
        height: 0;
        transition: height 400ms linear ;
      }

      /* In Dropdown */

        #phoneNumber {
          margin-bottom: .5em;
        }

        #ubiIcon {
          width: 20px;
          margin-left: -2px;
          margin-right: .5em;
        }

        #innerphoneIcon {
          display: inline;
          width: 15px;
          margin-right: .5em;
        }
  

    /* Email Contact Form */


      #emailIcon {
        width: 40px;
        background-image: url("./Images/emailIcon.png");
        background-size: cover;
      }

    /* Hamburger Menu*/

      #MenuContainer{
        margin-left: .7em;
      }
      .menu > *{
        align-items: center;
        display: flex;
        justify-content: center;
        font-size: 1.3em;
      }














