* {
    margin: 0;
    padding: 0;
    font-family: cursive;
  }
  
  
  a:link, a:visited {
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
  
  
  body {
    background-color: rgb(255, 255, 255);
  }
  
  .hide {
    display: none;
  }

  .show {
    display: block;
  }

  .centerWithFlexbox{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .spacerTopBottom {
    margin: 1em 0 1em 0;
  }