
.mainContentContainer {
    margin-bottom: 100px;

}

/* Image toggle carusel */

    .mainImage {
        width: 100vw;
        height: 41vh;
        position: relative;
    }

    .showPicture{
        top:0;
        left: 0;

        width: inherit;
        height: inherit;
        transition: width 1s;
    }

    .hidePicture {
        width: 0;
        transition: width 1s .3s;
    }


    #buttonLeft, #buttonRight {
        all: initial;

        position: absolute;
        top: 50%   ;
        transform: translateY(-50%);
        width: 50px;
        height: 100px;
        opacity: .5;
        cursor: pointer;
    }

    #buttonLeft:hover, #buttonRight:hover {
        opacity: 1;
    }


    #buttonRight {
        right: 0;
    }

    .arrowIcon,.imagesCarusel {
        width: inherit;
        height: inherit;

    }

    .imagesCarusel {
        display: flex;
    }

/* Text and information */

    .MainTextContainer {
        text-align: center;
    }



    /* Welcome text Animation changer*/

        #wellcomeLetterContainer{
            width: 100%;
            height: 20vh;
        }

        .showNhide {
            text-align: center;
            animation: showNhideAnimation 10s;
            /* animation-iteration-count: infinite; */
        }


        @keyframes showNhideAnimation {

            0%   {transform: scale(0);
                opacity:0}
            10%  {transform: scale(1.15);
                opacity:1}
            15%  {transform: scale(1)}


            85%  {transform: scale(1)}
            90%  {transform: scale(1.15);
                opacity:1}
            100% {transform: scale(0);
                opacity:0}
        }


    /* Text and Pool pcitures section */
        #section1{
            background-color: rgb(216, 216, 216);
            padding: 0.1em 1em 1em 1em;

        }
        #section1 > * {
            margin-top: 1em;
            margin-bottom: 1em;

        }
        
        

        #poolPicture {
            width: 100%;
            height: 100%;
            border: 2px rgb(165, 165, 165) solid;
            border-radius: 3%;
        }
            

    /* Horizontal concert pictures animation and text*/

        .liveMusicPics {
            width: 80%;
            height: 80%;
            opacity: 0;
            border: 2px rgb(107, 107, 107) solid;
            filter: blur(5px);
        }

        .startLeft {
            transform: translateX(-100%);
        }

        .startRight {
            transform: translateX(+100%);
        }
        
        .horizontalAnimation{
            opacity: 1;
            transform: translateX(0);
            filter: blur(0);
            transition: all 2s;

        }
    
    /* Art section */

    #artSection {
        background-color: rgb(37, 197, 144);
        padding: 2em 0 2em 0;
    }


    #paintingsPicture{
        width: 90%;
        height: 90%;
        border: 2px rgb(164, 179, 33) solid;

    }
 


    #artSection,#concertSection,#mapSection,
    #artSection > *,#concertSection > *,#mapSection > *{
        margin: 1em 0 1em 0;

    }

    #mapSection{
        background-color: rgb(216, 216, 216);

    }
    #mapText{
        padding: 2em 0 2em 0;

    }









/* .buttonLeft:hover, .buttonRight:hover {
    opacity: 1;


    PANTALLAS GRANDES
} */